/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */

@import 'bootstrap';

.container {
    margin: 0.5em;
}

.row {
    max-height: 3em;
    .furniture-name {
        background-color: rgba(12, 12, 12, 0.2);
        margin: 0.5em;
        height: 3em;
        overflow: auto;
    }
    #furniture-name-name {
        text-align: center;
        background-color: rgba(12, 12, 12, 0.2);
        margin-bottom: 0.1em;
        height: 3em;
    }
    .furniture-name-title {
        p {
            font-size: 12px;
            min-height: 3em;
        }
        background-color: rgba(12, 12, 12, 0.2);
        margin: 0em 0em 0em 0em;
        min-height: 3em;
        max-height: 3em;
        overflow: auto;
    }
    .furniture-name-titletop {
        background-color: rgba(12, 12, 12, 0.2);
        margin: 0.5em 0em 0em 0em;
        max-height: 3em;
    }
    .furniture-name-edit {
        margin: 0;
    }
    .furniture-photo {
        background-color: rgba(12, 12, 12, 0.2);
        margin: 0.5em;
        max-height: 5em;
        img {
            max-width: 5em;
            max-height: 5em;
        } 
    }
    .furniture-photo-show {
        background-color: rgba(12, 12, 12, 0.2);
        margin: 0.5em;
        max-height: 25em;
        img {
            max-width: 25em;
            max-height: 25em;
        } 
    }
    
    
}
